<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Music Library</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Albums</h1>
    <ul>
      <!-- We'll use Jinja's `for` loop to iterate over all books -->
      {% for album in albums %}
      <li>
          <!-- We can use {{ placeholders }} in HTML attributes too -->
          ♫ {{album.title}}
      </li>
        <div>
           released in {{album.release_year}}
        </div>
        <p></p>
      {% endfor %}
      <!-- Jinja isn't Python, so we need an endfor to close the loop -->
    </ul>

    <!-- This is a link to another page. -->
    <!-- The browser will send `GET /books/new` when the user clicks this -->
    <!--a href="/books/new">Add a new book</a-->
  </body>
</html>
