<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Artists Library</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Artists</h1>
    <ul>
      <!-- We'll use Jinja's `for` loop to iterate over all books -->
      {% for artist in artists %}
      <li>
          <!-- We can use {{ placeholders }} in HTML attributes too -->
          <a href="/artists/{{artist.id}}">♫ {{artist.name}} </a>
      </li>
        <p></p>
      {% endfor %}
      <!-- Jinja isn't Python, so we need an endfor to close the loop -->
    </ul>

    <!-- This is a link to another page. -->
    <!-- The browser will send `GET /books/new` when the user clicks this -->
    <!--a href="/books/new">Add a new book</a-->
  </body>
</html>
